{% extends "base.html" %}

{% block content %}
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{post.subject}}</h1>

        <!-- Author -->
        <p class="lead">
            by <a href="/blog/profile/{{post.author}}">{{post.author}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.created.strftime("%b %d, %Y")}} at {{post.created.strftime("%-I:%M%p")}}</p>

        <br>

        <!-- Post Content -->
        <p class="lead">
            {% for line in post.content.splitlines() %}
                {{line}}<br>
            {% endfor %}
        </p>

        <hr>

        <!-- Blog Comments -->

        <!-- Comments Form -->
        <form class="form-like" method="post" action="like">
            <!-- display different like button colour and text if
            currently logged-in user has liked the post -->
            {% if like_self %}
                <!-- hide like button for users' own posts -->
                {% if post.author != username %}
                <button type="submit" class="btn btn-info button-like">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </button>
                {% endif %}
                <a href="#" data-toggle="modal" data-target="#myModal">You and {{like_others_num}} others</a>  liked this.
            {% else %}
                {% if post.author != username %}
                <button type="submit" class="btn btn-default button-like">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </button>
                {% endif %}
                <a href="#" data-toggle="modal" data-target="#myModal">{{like_others_num}} people</a>  liked this.
            {% endif %}
        </form>
        <br>
        <div class="well">
            <h4>Leave a Comment:</h4>
            <form method="post" action="comment">
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <hr>

        <!-- Posted Comments -->

        <!-- Comment -->
        {% for comment in comments %}
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><a href="/blog/profile/{{comment.username}}">{{comment.username}}</a>
                        <small>{{comment.created.strftime("%b %d, %Y")}} at {{comment.created.strftime("%-I:%M%p")}}</small>
                    </h4>
                    {{comment.comment}}
                </div>
            </div>
        {% endfor %}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Likes</h4>
                </div>
                <div class="modal-body">
                    {% for like in like_others %}
                        <a href="/blog/profile/{{like.username}}">{{like.username}}</a>
                        <br>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
      </div>

</div>
<!-- /.row -->
{% endblock %}